n8n/workflows/ocr_pipeline.json
{
  "name": "OCR Agent Pipeline",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"ocr-process","responseMode":"lastNode","options":{}},"id":"node-webhook","name":"Webhook — Receive Job","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[240,300],"webhookId":"ocr-process"},
    {"parameters":{"functionCode":"const body = $input.first().json.body ?? $input.first().json;\nconst { job_id, file_url, ocr, ai } = body;\nif (!job_id || !file_url || !ocr || !ai) throw new Error('Missing required fields');\nconst validOcr = ['tesseract','paddle'];\nconst validAi = ['ollama','openai','claude'];\nif (!validOcr.includes(ocr)) throw new Error('Invalid OCR engine');\nif (!validAi.includes(ai)) throw new Error('Invalid AI model');\nreturn [{ json: { job_id, file_url, ocr, ai } }];"},"id":"node-validate","name":"Validate Payload","type":"n8n-nodes-base.function","typeVersion":1,"position":[460,300]},
    {"parameters":{"url":"={{ $json.file_url }}","responseFormat":"file","options":{}},"id":"node-download","name":"Download File from MinIO","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[680,300]},
    {"parameters":{"functionCode":"const prev = $input.first();\nreturn [{ json: { job_id: prev.json.job_id, file_url: prev.json.file_url, ocr: prev.json.ocr, ai: prev.json.ai }, binary: prev.binary }];"},"id":"node-attach","name":"Attach Job Context","type":"n8n-nodes-base.function","typeVersion":1,"position":[900,300]},
    {"parameters":{"conditions":{"string":[{"value1":"={{ $json.ocr }}","operation":"equal","value2":"tesseract"}]}},"id":"node-ocr-switch","name":"OCR Switch","type":"n8n-nodes-base.if","typeVersion":1,"position":[1120,300]},
    {"parameters":{"url":"=http://{{ $env.TESSERACT_HOST ?? 'tesseract-service' }}:8884/ocr","method":"POST","sendBinaryData":true,"binaryPropertyName":"data","options":{"timeout":60000}},"id":"node-tesseract","name":"Tesseract OCR","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1340,160]},
    {"parameters":{"url":"=http://{{ $env.PADDLE_HOST ?? 'paddle-service' }}:8885/ocr","method":"POST","sendBinaryData":true,"binaryPropertyName":"data","options":{"timeout":90000}},"id":"node-paddle","name":"PaddleOCR","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1340,440]},
    {"parameters":{"functionCode":"const item = $input.first();\nlet rawText = '';\nif (item.json.text) rawText = item.json.text;\nelse if (item.json.result) rawText = item.json.result.flat().map(l => Array.isArray(l) ? l[1]?.[0] ?? '' : l).join(' ');\nelse if (typeof item.json === 'string') rawText = item.json;\nconst cleaned = rawText.replace(/[\\x00-\\x08\\x0B\\x0C\\x0E-\\x1F]/g,'').replace(/[ \\t]+/g,' ').replace(/\\n{3,}/g,'\\n\\n').trim();\nif (!cleaned || cleaned.length < 10) throw new Error('OCR produced no usable text');\nreturn [{ json: { job_id: item.json.job_id, ocr: item.json.ocr, ai: item.json.ai, ocr_text: cleaned } }];"},"id":"node-normalize","name":"Normalize OCR Text","type":"n8n-nodes-base.function","typeVersion":1,"position":[1560,300]},
    {"parameters":{"conditions":{"string":[{"value1":"={{ $json.ai }}","operation":"equal","value2":"ollama"}]}},"id":"node-ai-switch","name":"AI Switch","type":"n8n-nodes-base.if","typeVersion":1,"position":[1780,300]},
    {"parameters":{"url":"=http://{{ $env.OLLAMA_HOST ?? 'ollama' }}:11434/api/generate","method":"POST","specifyBody":"json","jsonBody":"={ \"model\": \"{{ $env.OLLAMA_MODEL ?? 'llama3' }}\", \"stream\": false, \"prompt\": \"Extract structured SLA data from this auto lease contract. Return ONLY valid JSON: {apr, monthly_payment, term, residual_value, mileage_limit, penalties}. No markdown.\\n\\n{{ $json.ocr_text }}\" }","options":{"timeout":120000}},"id":"node-ollama","name":"Ollama LLM","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2000,160]},
    {"parameters":{"conditions":{"string":[{"value1":"={{ $json.ai }}","operation":"equal","value2":"openai"}]}},"id":"node-cloud-switch","name":"Cloud AI Switch","type":"n8n-nodes-base.if","typeVersion":1,"position":[2000,440]},
    {"parameters":{"url":"https://api.openai.com/v1/chat/completions","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $env.OPENAI_API_KEY }}"}]},"specifyBody":"json","jsonBody":"={ \"model\": \"gpt-4o-mini\", \"temperature\": 0, \"messages\": [{\"role\":\"system\",\"content\":\"Extract SLA data. Return ONLY JSON: {apr,monthly_payment,term,residual_value,mileage_limit,penalties}. No markdown.\"},{\"role\":\"user\",\"content\":\"{{ $json.ocr_text }}\"}] }","options":{"timeout":60000}},"id":"node-openai","name":"OpenAI GPT","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2220,300]},
    {"parameters":{"url":"https://api.anthropic.com/v1/messages","method":"POST","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"={{ $env.ANTHROPIC_API_KEY }}"},{"name":"anthropic-version","value":"2023-06-01"}]},"specifyBody":"json","jsonBody":"={ \"model\": \"claude-haiku-4-5-20251001\", \"max_tokens\": 1024, \"messages\": [{\"role\":\"user\",\"content\":\"Extract SLA data from this lease contract. Return ONLY JSON: {apr,monthly_payment,term,residual_value,mileage_limit,penalties}. No markdown.\\n\\n{{ $json.ocr_text }}\"}] }","options":{"timeout":60000}},"id":"node-claude","name":"Claude AI","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2220,580]},
    {"parameters":{"functionCode":"const item = $input.first();\nlet raw = '';\nif (item.json.response !== undefined) raw = item.json.response;\nelse if (item.json.choices) raw = item.json.choices[0]?.message?.content ?? '';\nelse if (item.json.content) raw = item.json.content.find(b => b.type==='text')?.text ?? '';\nraw = raw.replace(/```json\\n?/g,'').replace(/```\\n?/g,'').trim();\nlet sla;\ntry { sla = JSON.parse(raw); } catch { sla = { apr:null,monthly_payment:null,term:null,residual_value:null,mileage_limit:null,penalties:null }; }\nconst toNum = v => { const n = parseFloat(v); return isNaN(n) ? null : n; };\nreturn [{ json: { job_id: item.json.job_id ?? $('Normalize OCR Text').first().json.job_id, ai: item.json.ai ?? $('Normalize OCR Text').first().json.ai, ocr_text: $('Normalize OCR Text').first().json.ocr_text, sla: { apr: toNum(sla.apr), monthly_payment: toNum(sla.monthly_payment), term: toNum(sla.term), residual_value: toNum(sla.residual_value), mileage_limit: toNum(sla.mileage_limit), penalties: typeof sla.penalties==='string' ? sla.penalties : null } } }];"},"id":"node-parse-sla","name":"Parse SLA Data","type":"n8n-nodes-base.function","typeVersion":1,"position":[2440,300]},
    {"parameters":{"functionCode":"const item = $input.first();\nconst text = item.json.ocr_text ?? '';\nconst vinRegex = /\\b([A-HJ-NPR-Z0-9]{17})\\b/g;\nconst matches = [...text.matchAll(vinRegex)];\nconst vin = matches.length > 0 ? matches[0][1] : null;\nreturn [{ json: { ...item.json, detected_vin: vin } }];"},"id":"node-detect-vin","name":"Detect VIN","type":"n8n-nodes-base.function","typeVersion":1,"position":[2660,300]},
    {"parameters":{"conditions":{"string":[{"value1":"={{ $json.detected_vin }}","operation":"isNotEmpty"}]}},"id":"node-vin-check","name":"VIN Found?","type":"n8n-nodes-base.if","typeVersion":1,"position":[2880,300]},
    {"parameters":{"url":"=https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVin/{{ $json.detected_vin }}?format=json","method":"GET","options":{"timeout":15000}},"id":"node-vin-api","name":"NHTSA VIN Lookup","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[3100,160]},
    {"parameters":{"functionCode":"const item = $input.first();\nconst results = item.json.Results ?? [];\nconst get = v => results.find(r => r.Variable===v)?.Value ?? null;\nconst make = get('Make'), model = get('Model'), year = parseInt(get('Model Year')??'0',10)||null;\nconst vin_data = (make&&model&&year) ? { vin: item.json.detected_vin??'', make, model, year } : null;\nreturn [{ json: { ...item.json, vin: vin_data } }];"},"id":"node-parse-vin","name":"Parse VIN Data","type":"n8n-nodes-base.function","typeVersion":1,"position":[3320,160]},
    {"parameters":{"functionCode":"const item = $input.first();\nreturn [{ json: { ...item.json, vin: null } }];"},"id":"node-no-vin","name":"No VIN — Continue","type":"n8n-nodes-base.function","typeVersion":1,"position":[3100,440]},
    {"parameters":{"functionCode":"const item = $input.first();\nconst sla = item.json.sla ?? {};\nconst vin = item.json.vin ?? {};\nconst residual = sla.residual_value ?? 0;\nconst monthly = sla.monthly_payment ?? 0;\nconst term = sla.term ?? 36;\nlet market_value = residual + (monthly * term * 0.6);\nif (vin?.year) { const age = new Date().getFullYear() - vin.year; market_value = market_value * Math.max(0.4, 1 - age * 0.12); }\nlet dp = 0;\nif (sla.apr!==null) dp++; if (sla.monthly_payment!==null) dp++; if (sla.residual_value!==null) dp++; if (sla.term!==null) dp++; if (vin?.make) dp++;\nreturn [{ json: { ...item.json, price_estimate: { market_value: Math.round(market_value), confidence: Math.round((dp/5)*100) } } }];"},"id":"node-price","name":"Price Estimation","type":"n8n-nodes-base.function","typeVersion":1,"position":[3540,300]},
    {"parameters":{"functionCode":"const item = $input.first();\nconst sla = item.json.sla ?? {};\nconst pe = item.json.price_estimate ?? {};\nlet aprScore=50, priceScore=50, mileageScore=50, penaltyScore=80;\nif (sla.apr!==null) { if(sla.apr<=3)aprScore=100; else if(sla.apr<=5)aprScore=80; else if(sla.apr<=7)aprScore=60; else if(sla.apr<=10)aprScore=35; else aprScore=10; }\nconst total=(sla.monthly_payment??0)*(sla.term??36), market=pe.market_value??0;\nif(market>0&&total>0){const r=total/market; if(r<=0.7)priceScore=100; else if(r<=0.85)priceScore=75; else if(r<=1)priceScore=50; else if(r<=1.2)priceScore=25; else priceScore=5;}\nif(sla.mileage_limit!==null){if(sla.mileage_limit>=15000)mileageScore=100; else if(sla.mileage_limit>=12000)mileageScore=70; else if(sla.mileage_limit>=10000)mileageScore=40; else mileageScore=20;}\nif(sla.penalties){const l=sla.penalties.toLowerCase(); if(l.includes('early termination'))penaltyScore=30; else if(l.includes('wear'))penaltyScore=50;}\nconst fairness_score=Math.round(aprScore*0.35+priceScore*0.30+mileageScore*0.20+penaltyScore*0.15);\nreturn [{ json: { ...item.json, fairness_score } }];"},"id":"node-fairness","name":"Fairness Score","type":"n8n-nodes-base.function","typeVersion":1,"position":[3760,300]},
    {"parameters":{"functionCode":"const item = $input.first();\nconst sla = item.json.sla ?? {};\nconst score = item.json.fairness_score ?? 50;\nconst tips = [];\nif (sla.apr!==null&&sla.apr>5) tips.push(`Your APR of ${sla.apr}% is above average. Negotiate for rates under 4%.`);\nif (sla.apr!==null&&sla.apr>9) tips.push('Consider pre-approved financing from your bank.');\nif (sla.monthly_payment!==null&&sla.monthly_payment>600) tips.push(`Monthly payment of $${sla.monthly_payment} is high. Ask for extended term or higher residual.`);\nif (sla.mileage_limit!==null&&sla.mileage_limit<12000) tips.push(`${sla.mileage_limit.toLocaleString()} miles/year is restrictive. Negotiate for 15,000 miles.`);\nif (sla.penalties&&sla.penalties.toLowerCase().includes('early termination')) tips.push('Ask dealer to cap early termination penalties.');\nif (score<40) { tips.push('This contract scores poorly. Consider walking away or requesting full revision.'); tips.push('Get competing quotes from at least 2 other dealers.'); }\nelse if (score<70) tips.push('Focus negotiation on APR and monthly payment first.');\nelse tips.push('Contract appears competitive. Still review penalty clauses before signing.');\nif (tips.length===0) tips.push('Compare total lease cost against buying the vehicle outright.');\nreturn [{ json: { ...item.json, negotiation_tips: tips } }];"},"id":"node-tips","name":"Negotiation Tips","type":"n8n-nodes-base.function","typeVersion":1,"position":[3980,300]},
    {"parameters":{"functionCode":"const item = $input.first();\nreturn [{ json: { job_id: item.json.job_id, status: 'completed', data: { sla: { apr: item.json.sla?.apr??null, monthly_payment: item.json.sla?.monthly_payment??null, term: item.json.sla?.term??null, residual_value: item.json.sla?.residual_value??null, mileage_limit: item.json.sla?.mileage_limit??null, penalties: item.json.sla?.penalties??null }, vin: item.json.vin??null, price_estimate: item.json.price_estimate??null, fairness_score: item.json.fairness_score??null, negotiation_tips: item.json.negotiation_tips??[] } } }];"},"id":"node-format","name":"Format Result","type":"n8n-nodes-base.function","typeVersion":1,"position":[4200,300]},
    {"parameters":{"url":"=http://{{ $env.REDIS_HOST ?? 'localhost' }}:6379/set","method":"POST","specifyBody":"json","jsonBody":"={ \"key\": \"ocr:result:{{ $json.job_id }}\", \"value\": {{ JSON.stringify($json.data) }}, \"ttl\": 86400 }","options":{"timeout":5000}},"id":"node-redis","name":"Store Result in Redis","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[4420,300],"continueOnFail":true},
    {"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}},"id":"node-respond","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[4640,300]}
  ],
  "connections": {
    "Webhook — Receive Job":    { "main": [[{ "node": "Validate Payload",        "type": "main", "index": 0 }]] },
    "Validate Payload":         { "main": [[{ "node": "Download File from MinIO", "type": "main", "index": 0 }]] },
    "Download File from MinIO": { "main": [[{ "node": "Attach Job Context",       "type": "main", "index": 0 }]] },
    "Attach Job Context":       { "main": [[{ "node": "OCR Switch",               "type": "main", "index": 0 }]] },
    "OCR Switch":               { "main": [[{ "node": "Tesseract OCR", "type": "main", "index": 0 }],[{ "node": "PaddleOCR", "type": "main", "index": 0 }]] },
    "Tesseract OCR":            { "main": [[{ "node": "Normalize OCR Text", "type": "main", "index": 0 }]] },
    "PaddleOCR":                { "main": [[{ "node": "Normalize OCR Text", "type": "main", "index": 0 }]] },
    "Normalize OCR Text":       { "main": [[{ "node": "AI Switch",          "type": "main", "index": 0 }]] },
    "AI Switch":                { "main": [[{ "node": "Ollama LLM", "type": "main", "index": 0 }],[{ "node": "Cloud AI Switch", "type": "main", "index": 0 }]] },
    "Cloud AI Switch":          { "main": [[{ "node": "OpenAI GPT", "type": "main", "index": 0 }],[{ "node": "Claude AI",  "type": "main", "index": 0 }]] },
    "Ollama LLM":               { "main": [[{ "node": "Parse SLA Data", "type": "main", "index": 0 }]] },
    "OpenAI GPT":               { "main": [[{ "node": "Parse SLA Data", "type": "main", "index": 0 }]] },
    "Claude AI":                { "main": [[{ "node": "Parse SLA Data", "type": "main", "index": 0 }]] },
    "Parse SLA Data":           { "main": [[{ "node": "Detect VIN",     "type": "main", "index": 0 }]] },
    "Detect VIN":               { "main": [[{ "node": "VIN Found?",     "type": "main", "index": 0 }]] },
    "VIN Found?":               { "main": [[{ "node": "NHTSA VIN Lookup",   "type": "main", "index": 0 }],[{ "node": "No VIN — Continue", "type": "main", "index": 0 }]] },
    "NHTSA VIN Lookup":         { "main": [[{ "node": "Parse VIN Data",  "type": "main", "index": 0 }]] },
    "Parse VIN Data":           { "main": [[{ "node": "Price Estimation", "type": "main", "index": 0 }]] },
    "No VIN — Continue":        { "main": [[{ "node": "Price Estimation", "type": "main", "index": 0 }]] },
    "Price Estimation":         { "main": [[{ "node": "Fairness Score",   "type": "main", "index": 0 }]] },
    "Fairness Score":           { "main": [[{ "node": "Negotiation Tips", "type": "main", "index": 0 }]] },
    "Negotiation Tips":         { "main": [[{ "node": "Format Result",    "type": "main", "index": 0 }]] },
    "Format Result":            { "main": [[{ "node": "Store Result in Redis", "type": "main", "index": 0 }]] },
    "Store Result in Redis":    { "main": [[{ "node": "Respond to Webhook",    "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveManualExecutions": true },
  "tags": ["ocr","ai","contract-analysis"]
}